@import url(https://fonts.googleapis.com/css?family=Poppins);

:root{
    --light-color: 252, 245, 235;
    --dark-color: 17, 27, 33;
    --primary-color: 37, 211, 102;
    --white-color: 255, 255, 255;
    --font-poppins: 'Poppins';
    scroll-behavior: smooth;
}
html, body {
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-poppins, sans-serif);
    outline: none;
}
body {
    position: relative;
    min-height: 100vh;
    background-color: rgb(var(--light-color));
    color: rgb(var(--dark-color));
}
body.dark {
    background-color: rgb(var(--dark-color));
    color: rgb(var(--light-color));
}
.container {
    margin-inline: auto;
    width: min(90%, 70rem);
}
a {
    text-decoration: none;
    color: inherit;
    transition: 0.15s;
}
button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    user-select: none;
}
body {
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}
header {
    padding: 1rem;
    background: var(--bg-nav);
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* Navbar */
header.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header.navbar > h1 {
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(var(--tertiary-color));
}
header.navbar > h1:hover {
    color: rgb(var(--dark-color), 0.8);
}
header.navbar > nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    transition: background 500ms ease-in-out;
}
header.navbar > nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}
header.navbar > nav > ul > li {
    color:rgb(var(--dark-color));
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    transition: 0.15s;
}
header.navbar > nav > ul > li:hover{
    background-color: rgb(var(--dark-color), .25);
}
header.navbar > nav > ul > li.toggle-mode {
    cursor: pointer;
}
header.navbar > nav > ul > li.toggle-mode:hover{
    background-color: transparent;
    color:rgb(var(--primary-color));
}
body.dark header.navbar > nav > ul > li.toggle-mode i.fa-moon {
    display: none;
}
body.dark header.navbar > nav > ul > li.toggle-mode i.fa-sun {
    display: inline-block;
}
header.navbar > nav > ul > li.toggle-mode i.fa-moon {
    display: inline-block;
}
header.navbar > nav > ul > li.toggle-mode i.fa-sun {
    display: none;
}
body.dark header.navbar > nav > ul > li {
    color: rgb(var(--light-color));
}