main {
    min-height: 1000px;
    padding: 2rem;
}

.logo {
    letter-spacing: .5rem;
    text-transform: uppercase;
    /* animation: color-rotate 1s;
    animation-iteration-count: infinite;
    animation-direction: reverse; */
}
/* Logo Animation */

@keyframes color-rotate {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}

img {
    margin: 2em 0 0;
    width: 180px;
    height: 180px;
}

h1 {
    transform: translateY(40%);
}

/* margin: top right bottom left */
.navbar-below-content {
    margin-top: 4rem;
}

.below-box {
    font-family: 'Anonymous Pro', monospace;
    font-size: 30px;
    text-align: center;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
    top: -15px;
    width: 250px;
    color: var(--text);
}


.line-3 {
    position: relative;
    margin: 5px auto 0px auto;
    transform: translateY(-10%);
}

/*.......Social Buttons.......*/
.links {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(19, 199, 73);
}

.button {
    --font-size: 1.5rem;
    width: calc(var(--font-size) * 2);
    height: calc(var(--font-size) * 2);
    font-size: var(--font-size);
    display: grid;
    place-items: center;
    border-radius: 5rem;
    background-color: var(--bg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
    filter: brightness(1.1);
    box-shadow: none;
}

.button:active {
    transform: translateY(3px);
}