main {
    min-height: 1000px;
    padding: 2rem;
}

img {
    margin: 2em 0 0;
    width: 180px;
    height: 180px;
}

header {
    padding: 1em;
    clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
    background: var(--bg-nav);
    margin-bottom: 1em;
    padding-bottom: 8em;
    text-align: center;
}

/*.......Welcome Text Animation.......
margin: top right bottom left
*/
.navbar-below-content {
    margin-top: 4rem;
}

.scroll {
    /*font-family: 'Anonymous Pro', monospace;*/
    font-family: 'Press Start 2P', cursive;
    font-size: 100%;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: -50px;
    height: 50px;
    width: 330px;
    margin-top: 2em;
    background-color: rgb(0, 0, 0);
    color: rgb(19, 199, 73);
    padding-top: 8px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.below-box {
    /* font-family: 'Anonymous Pro', monospace; */
    font-family: 'Press Start 2P', cursive;
    font-size: 100%;
    text-align: center;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
    top: -20px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0);
    color: var(--text);
    padding: 8px;
    /* border: 1px solid red; */
}

.line-1 {
    position: relative;
    width: 24em;
    border-right: 8px solid rgba(255, 255, 255, 0.75);
    margin: 10px auto 0px auto;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.line-2 {
    position: relative;
    width: 26em;
    border-right: 8px solid rgba(255, 255, 255, 0.75);
    margin: 5px auto 0px auto;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.line-3 {
    position: relative;
    /* border-right: 8px solid rgba(255, 255, 255, 0.75); */
    margin: 5px auto 0px auto;
    transform: translateY(-50%);
}

/* Animation */
.anim-typewriter1 {
    animation: typewriter1 0.75s steps(50) 0.5s 1 normal both,
        blinkTextCursor1 250ms steps(50) 8 normal forwards;
}

.anim-typewriter2 {
    animation: typewriter2 0.8s steps(50) 1.25s 1 normal both,
        blinkTextCursor2 250ms steps(50) 12 normal forwards;
}

.anim-typewriter3 {
    animation: typewriter3 0.3s steps(50) 2.05s 1 normal both,
        blinkTextCursor3 250ms steps(50) 18 normal forwards;
}

@keyframes blinkTextCursor1 {
    0% {
        border-right-color: rgba(255, 255, 255, 0.75);
    }

    100% {
        border-right-color: rgba(35, 35, 35, 0);
    }
}

@keyframes blinkTextCursor2 {
    0% {
        border-right-color: rgba(255, 255, 255, 0.75);
    }

    100% {
        border-right-color: rgba(35, 35, 35, 0);
    }
}

@keyframes blinkTextCursor3 {
    0% {
        border-right-color: rgba(255, 255, 255, 0.75);
    }

    100% {
        border-right-color: rgba(35, 35, 35, 0);
    }
}

@keyframes typewriter1 {
    from {
        width: 0;
    }

    to {
        width: 14em;
    }
}

@keyframes typewriter2 {
    from {
        width: 0;
    }

    to {
        width: 18em;
    }
}

@keyframes typewriter3 {
    from {
        width: 0;
    }

    to {
        width: 15em;
    }
}

.wave {
    font-size: 120%;
    animation-name: wave-animation;
    /* Refers to the name of your @keyframes element below */
    animation-delay: 1.2s;
    animation-duration: 2.8s;
    /* Change to speed up or slow down */
    animation-iteration-count: 1;
    /* Never stop waving :) */
    transform-origin: 70% 70%;
    /* Pivot around the bottom-left palm */
    display: inline-block;
    animation-direction: normal;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    /* Reset for the last half to pause */
    100% {
        transform: rotate(0.0deg)
    }
}

/*.....Reload Button......*/
.reload {
    float: right;
    text-align: center;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    background-color: #04AA6D;
    color: white;
    overflow: auto;
    border-radius: 12px;
}

.reload:hover {
    background-color: rgb(250, 250, 250)
}

.reload:active {
    background-color: #04AA6D;
    border-radius: 12px;
}


/*.......Social Buttons.......*/
.links {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: left;
    justify-items: left;
    height: 30px;
    width: 330px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(19, 199, 73);
}

.button {
    position: relative;
    display: inline-block;
    margin: auto;
    padding: 13px;
    height: 30px;
    width: 30px;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 12px;
    background-color: var(--bg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
    background-color: rgb(198, 248, 141);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:active {
    background-color: rgb(83, 192, 33);
    box-shadow: 0 1px rgb(71, 121, 24);
    transform: translateY(3px);
}

@media only screen and (max-width: 500px) {
    .footer1 {
        position: fixed;
        background-color: rgb(0, 55, 127);
        left: 0px;
        right: 0px;
        bottom: 0px;
        padding-left: 35%;
        padding-right: 35%;
        max-height: 35%;
        max-width: 35%;
    }
}