main.home {
    min-height: 80vh;
    padding: 2rem;
    margin-block: 2rem;
    border-radius: 2rem;
    color: rgb(var(--light-color));
    background: url(../img/matrix.png) no-repeat center center fixed;
    background-size: cover;
}
main.home {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    isolation: isolate;
}
main.home::before {
    content: "";
    position: absolute;
    inset: 2rem;
    border-radius: 2rem;
    background: rgb(var(--dark-color));
    z-index: -1;
}
main.home .hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}
main.home .hero h1 {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
}
main.home .hero h1 .line {
    display: block;
    position: relative;
    overflow: hidden;
}
main.home .hero h1 .line:nth-child(2){
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(var(--primary-color));
}
main.home .hero h1 .line.scroll {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap;
}
main.home .hero h1 .line.scroll .scroll-containter {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
}
main.home .hero h1 .line .auto-scroll {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    height: 100%;
    animation: scroll 3s linear infinite forwards;
}
@keyframes scroll {
    0%, 30%{
        top: -3.25rem;
    }
    33%, 63% {
        top: 0;
    }
    66%, 96% {
        top: 3.25rem;
    }
}
main.home .connect ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
main.home .connect ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 5rem;
    color: rgb(var(--dark-color));
    background: rgb(var(--white-color));
    cursor: pointer;
    transition: 0.15s;
}
main.home .connect ul li:hover {
    transform: scale(1.1);
    color: rgb(var(--white-color));
    background: rgb(var(--primary-color));
    box-shadow: 0 0 0.5rem rgb(var(--primary-color));
}